@use '../../../base' as base;

.card {
  display: flex;
  width: 70%;
  margin: 20px auto;
  justify-content: space-between;
  padding: 20px;

  &__photo {
    object-fit: contain;
  }

  &__photo,
  &__text {
    padding: 20px;
    width: 50%;
  }
}

.odd {
  .card__photo {
    order: 1;
  }

  .card__text {
    order: 2
  }

}

.even {

  .card__photo {
    order: 2;
  }

  .card__text {
    order: 1;
  }
}

.card__block {
  &:nth-child(2n+1) {
    background: base.$green;
  }

  &:nth-child(2n) {
    background: base.$grey;
  }
}